<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- <%= javascript_packs_with_chunks_tag 'fullpage', 'slider', 'data-turbolinks-track': 'reload' %> -->
<meta name="turbolinks-cache-control" content="no-cache">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_pack_path 'media/images/ico/apple-touch-icon.png' %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_pack_path 'media/images/ico/favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_pack_path 'media/images/ico/favicon-16x16.png' %>"> -->
    <!-- <link rel="manifest" href="images/ico/site.webmanifest"> -->
    <!-- <link rel="mask-icon" color="#5bbad5" href="<%= asset_pack_path 'media/images/ico/safari-pinned-tab.svg' %>"> -->
    <!-- <link rel="shortcut icon" href= "<%= asset_pack_path 'media/images/ico/favicon.ico' %>"> -->
    <!-- <meta name="msapplication-TileColor" content="#da532c"> -->
    <!-- <meta name="msapplication-config" content="assets/ico/browserconfig.xml"> -->
    <!-- <meta name="theme-color" content="#ffffff"> -->

    <!-- Plugins CSS -->
    <!-- <link rel="stylesheet" href="assets/libs/flickity/dist/flickity.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/libs/flickity-fade/flickity-fade.css"> -->
    <!-- <link rel="stylesheet" href="assets/libs/fullpage.js/dist/fullpage.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/libs/highlightjs/styles/codepen-embed.css"> -->
    <!-- <link rel="stylesheet" href="assets/libs/@fortawesome/fontawesome-free/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/libs/incline-icons/style.min.css"> -->

    <!-- Theme CSS -->
    <!-- <link rel="stylesheet" href="assets/css/theme.min.css"> -->

    <title>Mente Vital | Bienvenida</title>
  </head>
  <body>

<%= render 'globalPartials/navtoggle' %>

    <!-- HERO
    ================================================== -->
    <section class="section section-top section-full">


      <!-- Slider -->
      <div class="bg-slider" >
        <div class="slider slider-no-controls slider-no-draggable slider-fade" id="hero-slider-bg" >
          <% @abouts.each do |about| %>
          <div class="slider-item">
            <!-- Cover 1-->
            <div class="bg-cover" style="background-image: url(<%= asset_pack_path about.img %>)"></div>
          </div>
          <% end %>
        </div>
      </div>


      <!-- Overlay -->
      <div class="bg-overlay"></div>

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-7 order-md-2">

            <!-- Slider -->
            <div id="hero-slider" class="slider slider-no-controls slider-no-draggable slider-fade mb-5 mb-md-0" data-bind="slider" data-target="#hero-slider-bg">

    <% @abouts.each do |about| %>
              <!-- Silder 1 -->
              <div class="slider-item">
                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted">
                  Mente Vital
                </p>
                <!-- Heading -->
                <h1 class="text-white text-center mb-4">
                  <%= about.carrusel %>
                </h1>
                <!-- Subheading -->
                <p class="lead text-white text-muted text-center mb-5">
                </p>
                <!-- Button -->
                <p class="text-center mb-0">
                  <a href="<%= url_for(action: 'index', controller: 'abouts', target: 'self')%>" class="btn btn-outline-primary text-white" >
                    leer más
                  </a>
                </p>
              </div>
    <% end %>
            </div>

          </div>
          <div class="col-6 col-md-2 order-md-1">

            <!-- Controls -->
            <div class="text-left">
              <a href="#hero-slider" class="slider-control" data-slide="previous">
                <span class="icon -icon-arrow-left icon-2x" style="color: #ffc107;">
                </span>
              </a>
            </div>

          </div>
          <div class="col-6 col-md-2 order-md-3">

            <!-- Controls -->
            <div class="text-right">
              <a href="#hero-slider" class="slider-control" data-slide="next">
                <span class="icon -icon-arrow-right icon-2x" style="color: #ffc107;"></span>
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>


  </body>
</html>
