<!doctype html>
<html lang="en">
  <head>
<meta name="turbolinks-cache-control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>


<%= render 'globalPartials/navtoggle' %>

    <!-- HERO
    ================================================== -->
    <section class="section section-top section-full">

      <!-- Popover de Inicio -->
      <!-- <div style="position: fixed; bottom: 120px; left: 0px;">
      <a tabindex="0" class="automatico" data-toggle="popover" data-trigger="focus" title="Reserva tu hora" data-content="Falta texto y coloress"></a>
      </div> -->

      <!-- Slider -->
      <div class="bg-slider" >
        <div class="slider slider-no-controls slider-no-draggable slider-fade" id="hero-slider-bg" >
          <% @abouts.each do |about| %>
          <div class="slider-item">
            <!-- Cover 1-->
            <div class="bg-cover" style="background-image: url(<%= 'https://perlinmentevital.s3.us-east-2.amazonaws.com/' + about.img %>)"></div>
          </div>
          <% end %>
        </div>
      </div>


      <!-- Overlay -->
      <div class="bg-overlay"></div>

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-7 order-md-2">

            <!-- Slider -->
            <div id="hero-slider" class="slider slider-no-controls slider-no-draggable slider-fade mb-5 mb-md-0" data-bind="slider" data-target="#hero-slider-bg">

    <% @abouts.each do |about| %>
              <!-- Silder 1 -->
              <div class="slider-item">
                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted d-none d-sm-block">
                  MenteVital
                </p>
                <!-- Heading -->
                <h1 class="text-white text-center mb-4">
                  <%= about.carrusel %>
                </h1>
                <!-- Subheading -->
                <p class="lead text-white text-center mb-5 <%= about.negritas == 'n' ? "" : "text-muted" %> ">
                  <%= about.subcarrusel %>
                </p>

                <!-- Button -->
                <p class="text-center mb-0">
                  <a href="<%= about_path(about.id) %>" class="btn btn-secondary " >
                    leer más
                  </a>
                  <a href="<%= reservadehora_index_path %>" class="btn btn-outline-primary text-white" >
                    reserva tu hora
                  </a>
                </p>
              </div>
    <% end %>
            </div>

          </div>
          <div class="col-6 col-md-2 order-md-1">

            <!-- Controls -->
            <div class="text-left">
              <a href="#hero-slider" class="slider-control" data-slide="previous">
                <span class="icon -icon-arrow-left icon-2x" style="color: #ffc107;">
                </span>
              </a>
            </div>

          </div>
          <div class="col-6 col-md-2 order-md-3">

            <!-- Controls -->
            <div class="text-right">
              <a href="#hero-slider" class="slider-control" data-slide="next">
                <span class="icon -icon-arrow-right icon-2x" style="color: #ffc107;"></span>
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>


  </body>
</html>
