<!doctype html>
<html lang="en">
  <head>
<meta name="turbolinks-cache-control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>


<%= render 'globalPartials/navtoggle' %>

    <!-- HERO
    ================================================== -->
    <section class="section section-top section-full">

      <!-- Popover de Inicio -->
      <!-- <div style="position: fixed; bottom: 120px; left: 0px;">
      <a tabindex="0" class="automatico" data-toggle="popover" data-trigger="focus" title="Reserva tu hora" data-content="Falta texto y coloress"></a>
      </div> -->

      <!-- Slider -->
      <div class="bg-slider" >
        <div class="slider slider-no-controls slider-no-draggable slider-fade" id="hero-slider-bg" >
          <% @abouts.each do |about| %>
          <div class="slider-item">
            <!-- Cover 1-->
            <div class="bg-cover" style="background-image: url(<%= 'https://perlinmentevital.s3.us-east-2.amazonaws.com/' + about.img %>)"></div>
          </div>
          <% end %>
        </div>
      </div>


      <!-- Overlay -->
      <div class="bg-overlay"></div>

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-7 order-md-2">

            <!-- Slider -->
            <div id="hero-slider" class="slider slider-no-controls slider-no-draggable slider-fade mb-5 mb-md-0" data-bind="slider" data-target="#hero-slider-bg">

    <% @abouts.each do |about| %>
              <!-- Silder 1 -->
              <div class="slider-item">
                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted d-none d-sm-block">
                  MenteVital
                </p>
                <!-- Heading -->
                <h1 class="text-white text-center mb-4">
                  <%= about.carrusel %>
                </h1>
                <!-- Subheading -->
                <p class="lead text-white text-center mb-5 <%= about.negritas == 'n' ? "" : "text-muted" %> ">
                  <%= about.subcarrusel %>
                </p>

                <!-- Button -->
                <p class="text-center mb-0">
                  <a href="<%= about_path(about.id) %>" class="btn btn-secondary " >
                    leer más
                  </a>
                  <a href="<%= reservadehora_index_path %>" class="btn btn-outline-primary text-white" >
                    reserva tu hora
                  </a>
                </p>
              </div>
    <% end %>
            </div>

          </div>
          <div class="col-6 col-md-2 order-md-1">

            <!-- Controls -->
            <div class="text-left">
              <a href="#hero-slider" class="slider-control" data-slide="previous">
                <span class="icon -icon-arrow-left icon-2x" style="color: #ffc107;">
                </span>
              </a>
            </div>

          </div>
          <div class="col-6 col-md-2 order-md-3">

            <!-- Controls -->
            <div class="text-right">
              <a href="#hero-slider" class="slider-control" data-slide="next">
                <span class="icon -icon-arrow-right icon-2x" style="color: #ffc107;"></span>
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

<!-- BREADCRUMB
================================================== -->
<br>
<nav class="breadcrumb">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">

        <!-- Heading -->
        <h5 class="breadcrumb-heading">
          Temas
        </h5>

      </div>
      <div class="col-auto">

        <!-- Breadcrumb -->
        <span class="breadcrumb-item">
          <a href="<%= url_for(action: 'index', controller: 'mente', target: 'self')%>">MenteVital</a>
        </span>
        <span class="breadcrumb-item active">
          Temas
        </span>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</nav>

<!-- HEADER
================================================== -->
<section class="section pb-0">

  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- Header -->
        <div class="header bg-cover" style="background-image: url(<%= 'https://perlinmentevital.s3.us-east-2.amazonaws.com/' + @about.img %>);"></div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- ABOUT
================================================== -->
<section class="section pb-0">

  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-2">

        <!-- Title -->
        <h6 class="title">
          <%= @about.titulo %> </h6>

      </div>
      <div class="col-md-5">

        <!-- Heading -->
        <h3 class="mb-4">
          <%= @about.subtitulo %>  <span class="text-primary"> <%= @about.subtitSubrr %> </span> <%= @about.subtitCont %>
        </h3>

        <!-- Content -->
        <blockquote class="blockquote">
          <p class="mb-0">
            <%= @about.comentarios %>
          </p>
        </blockquote>

        <p class="text-muted">
          <%= @about.texto %>
        </p>
        <p class="text-muted">
          <%= @about.texto2 %>
        </p>
        <p class="text-muted">
          <%= @about.texto3 %>
        </p>
        <p class="text-muted">
          <%= @about.texto4 %>
          </p>
        <p class="text-muted">
          <%= @about.texto5 %>
          </p>

      </div>

      <div class="col-md-5">

        <!-- Content -->

        <p class="text-muted">
          <%= @about.texto6 %>
          </p>
        <p class="text-muted">
          <%= @about.texto7 %>
          </p>
        <p class="text-muted">
          <%= @about.texto8 %>
          </p>
        <p class="text-muted">
          <%= @about.texto9 %>
          </p>
        <p class="text-muted">
          <%= @about.texto10 %>
          </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- boton pide hora
================================================== -->
<section class="section bg-light">

      <!-- Line -->
      <div class="line line-top"></div>

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-dark bg-triangle-top bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-dark bg-triangle-bottom bg-triangle-right"></div>

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">

            <!-- Heading -->
            <div class="row mb-7 ml-7">
              <p class="text-muted text-center mb-5">
              Horas de psiquiatría por tele-conferencia disponibles
              </p>
              
              <a href="<%= url_for(action: 'index', controller: '/reservadehora')%>" type="button" class="btn btn-outline-primary">
              Reserva tu hora
              </a>
              
      <!-- </li> -->
    </div>

            <!-- Subheading -->

          </div>
        </div> <!-- / .row -->
          

      </div> <!-- / .container -->

    </section>




<!-- TEAM
================================================== -->
<section class="section pb-0">

  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-2">

        <!-- Title -->
        <h6 class="title">
          Más temas
        </h6>

      </div>
      <div class="col-md-10">

        <!-- Heading -->
        <h3 class="mb-4">
          Otros temas de psiquiatría y estilo de vida
        </h3>

        <!-- Subheading -->
        <p class="text-muted mb-5">
          Aquí encontrarás algunos temas relacionados con este nuevo enfoque de la psiquiatría
        </p>

        <!-- Otros temas -->
        <div class="row">

          <% @tiles.each do |tile| %>
          <!-- <a href="<%= about_path(tile.id) %>"> -->
            <a href="<%= mente_path(tile.id) %>">

          <div class="col-md-4">

            <!-- Card -->
            <div class="card card-sm border-0 mb-3 mb-md-0">

              <!-- Image -->
              <img src="<%= 'https://perlinmentevital.s3.us-east-2.amazonaws.com/' + tile.img %>" alt="..." class="card-img-top">

              <!-- Body -->
              <div class="card-body">

                <!-- Title -->
                <h5 class="card-title">
                  <%=tile.titulo %> <small class="text-muted"> <%= truncate(tile.subcarrusel, :length => 37, :separator => ' ')  %> </small>
                </h5>

                <!-- Text -->
                <ul class="card-text list-inline list-unstyled">
                  <!-- <li class="list-inline-item">
                    <a >
                      <i class="fab fa-github"></i>
                    </a>
                  </li> -->
                  <li class="list-inline-item ml-3">
                    <a href="https://www.facebook.com/psiquiatriayestilodevida" target="_blank">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item ml-3">
                    <a href="https://www.instagram.com/mentevital_/" target="_blank">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                </ul>

              </div>

            </div> <!-- / .card -->

          </div>
          </a>
          <% end %>



        </div> <!-- / .row -->

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

  </body>
</html>
