<div class="card-body">

<div class="form-group">


<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-group">
  <%= form.label :titulo %><br>
  <%= form.text_field :titulo ,class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :comentario %><br>
  <%= form.text_area :comentario ,class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :img %><br>
  <%= form.text_field :img ,class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :texto1 %><br>
  <%= form.text_area :texto1 ,class: "form-control"  %>
</div>

<div class="form-group">
  <%= form.label :texto2 %><br>
  <%= form.text_area :texto2 ,class: "form-control"  %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>

</div>
</div>
