
<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<h3><%= link_to 'Abouts', abouts_url %> <span> .. </span> <%= link_to 'Blogs', blogs_url %> <span> .. </span> <%= link_to 'Acerca', acercas_url %> <span> .. </span>
   <%= link_to 'Autores', autores_url %> <span> .. </span> <%= link_to 'Links', links_url %> <span> .. </span> <%= link_to 'Recomendaciones', recomendaciones_url %> <span> .. </span>
   <%= link_to 'Contacts', contacts_url %>
</h3>

<br>
<h3><%= link_to "Cerrar sesion Administrador", destroy_user_session_path, method: :delete %></h3>


<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <th>Fecha</th>
        <th>Titulo</th>
        <th>Image (nombre archibo)</th>
      </tr>
      <% @blogs.each do |t| %>
      <tr>
        <td><%= t.created_at %></td>
        <td><%= t.titulo %></td>
        <td><%= t.img %></td>
        <td><%= link_to 'Mostrar', t %></td>
        <td><%= link_to 'Editar', edit_blog_path(t) %></td>
        <td><%= link_to 'Eliminar', t, method: :delete, data: { confirm: 'Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Blog', new_blog_path %>
