<!doctype html>
<html lang="en">
  <head>
    <title>MenteVital | Blogs </title>
  </head>
  <body>

<div class="container mb-3">
    <%= render 'globalPartials/navlight'%>
</div>

<!-- BREADCRUMB
================================================== -->
<nav class="breadcrumb">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">

        <!-- Heading -->
        <h5 class="breadcrumb-heading">
          Blog post
        </h5>

      </div>
      <div class="col-auto">

        <!-- Breadcrumb -->
        <span class="breadcrumb-item">
          <a href="<%= url_for(action: 'index', controller: 'mente', target: 'self')%>">MenteVital</a>
        </span>
        <span class="breadcrumb-item">
          <a href="<%= url_for(action: 'muestra', controller: 'blogs', target: 'self')%>">Blogs</a>
        </span>
        <span class="breadcrumb-item active">
          <%= @blog.titulo %>
        </span>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</nav>

<!-- POST
================================================== -->
<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">


        <!-- Meta -->
        <div class="row align-items-center justify-content-center no-gutters mb-4">
          <div class="col-auto">

            <div class="avatar mr-3">

              <img src="<%= 'https://perlinmentevital.s3.us-east-2.amazonaws.com/' + @autores.find(@blog.autores_id).avatar %>" alt="..." class="img-cover rounded-circle">
            </div>

          </div>
          <div class="col-auto">

            <p class="mb-0 text-xs text-muted">
              por <strong class="text-body"> <%= @autores.find(@blog.autores_id).nombre %> </strong> hace <%= time_ago_in_words(@blog.created_at) %>
            </p>

          </div>
        </div> <!-- / .row -->

        <!-- Heading -->
        <h1 class="mb-5 font-weight-bold text-center">
          <%= @blog.titulo %>
        </h1>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12">


        <!-- Image -->
        <div class="img-effect img-effect-dotted">
        <img src="<%= 'https://perlinmentevital.s3.us-east-2.amazonaws.com/' + @blog.img %>" alt="..." class="img-fluid mb-3">
        </div>


        <!-- Caption -->
        <p class="text-center text-sm text-muted mb-5">
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">

        <blockquote class="blockquote">
          <p>
            <%= @blog.comentario %>
          </p>
        </blockquote>

        <p>
            <%= @blog.texto1 %>
        </p>

        <p class="mb-0">
            <%= @blog.texto2 %>
        </p>

        <!-- Social -->
        <div class="row align-items-center py-3 my-5 border-top border-bottom">
          <div class="col">

            <p class="mb-0 text-xs text-uppercase">
              dejanos tus comentarios en Instagram y Facebook
            </p>

          </div>
          <div class="col-auto">
            <a href="" class="text-lg text-nounderline mx-2">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="text-lg text-nounderline mx-2">
              <i class="fab fa-instagram"></i>
            </a>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
</section>

<!-- FEATURED
================================================== -->
<section class="mb-5">
  <div class="container section pb-0">
    <div class="row align-items-stretch">

        <% @featured.each do |feature| %>
      <div class="col-12 col-lg-4 mb-3 mb-lg-0">

        <a class="card h-100" href="<%= blog_path(feature.id) %>">
          <div class="card-body">

            <!-- Meta -->
            <div class="row align-items-center no-gutters mb-4">
              <div class="col-auto">

                <div class="avatar mr-3">
                  <img src="<%= 'https://perlinmentevital.s3.us-east-2.amazonaws.com/' + @autores.find(feature.autores_id).avatar %>" alt="..." class="img-cover rounded-circle">
                </div>

              </div>
              <div class="col">

                <p class="mb-0 text-xs text-muted">
                  por <strong class="text-body"> <%= @autores.find(feature.autores_id).nombre %> </strong> hace <%= time_ago_in_words(feature.created_at) %>
                </p>

              </div>
            </div> <!-- / .row -->


            <!-- Heading -->
            <h4>
                <%= feature.titulo %>
            </h4>

            <!-- Text -->
            <p class="mb-0 text-sm text-muted">
              <%= truncate(feature.texto1, :length => 80, :separator => ' ') %>
            </p>

          </div>
        </a>

      </div>
        <% end %>

<br>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
