<!-- FOOTER
================================================== -->
<footer class="section bg-dark">

  <% flash.each do |notice| -%>
        <%= content_tag :div, notice, class: "text-white" %>
      <% end -%>

  <!-- Triangles -->
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

  <!--Content -->
  <div class="container">
    <div class="row align-self-center">

      <div class="col-md align-self-center">
        <!-- Brand -->
        <div class="row ml-4 mb-3 ">
          <!-- <p> -->
            <a href="<%= url_for(action: 'index', controller: 'mente', target: 'self')%>" class="footer-brand text-white">
              <!-- <svg class="footer-brand-svg" viewBox="0 0 235 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> -->
            <img src="<%= asset_pack_path 'media/images/OR_Logotipo MenteVital-VB.svg' %>" height="120" alt="">
                <!-- <path d="M0 0 L 20 10 L 0 20 Z" class="text-primary" fill="currentColor"></path>
                <path d="M0 30 L 20 40 L 0 50 Z M20 45 L 0 55 L 20 65 Z M0 60 L 20 70 L 0 80 Z" fill="currentColor"></path> -->
                <!-- <text x="40" y="70" font-family="Arial, sans-serif" font-size="60" font-weight="bold" letter-spacing="-.025em" fill="currentColor">MenteVital</text> -->
              <!-- </svg> -->
              <img src="" alt="">
            </a>
          <!-- </p> -->
      </div>


    <div class="row mb-4 ml-4">
      <!-- <li class="list-inline-item"> -->
        <button type="button" class="btn btn-outline-secondary text-white" style="border-color: white" >
          <a href="<%= url_for(action: 'index', controller: 'reservadehora')%>" class="text-primary">
            Reserva tu hora
          </a>
        </button>
      <!-- </li> -->
    </div>


        <div class="row ml-4">
          <ul class="list-inline list-unstyled text-md-right">

            <li class="list-inline-item ">
              <a href="https://www.facebook.com/psiquiatriayestilodevida" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item ml-3">
              <a href="https://www.instagram.com/mentevital_/" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="row ml-4">
          <!-- Links -->
          <ul class="list-unstyled list-inline text-md-right">
            <li class="list-inline-item mr-2">
              <a href="" class="text-white" data-toggle="modal" data-target="#exampleModal" >
                Términos y condiciones
              </a>
            </li>

            <!-- <li class="list-inline-item">
                <span class="text-white"> | </span>
            </li> -->

          </ul>
        </div>

      <!-- <div class="row ml-4"> -->
        <!-- Copyright -->
        <!-- <p class="text-white text-muted">
          <small>
            &copy; Copyright <span class="current-year"></span> PerlaLetelier. Derechos reservados.
          </small>
        </p>
      </div> -->

      </div>

<div class="col-md">
      <!-- Heading -->
      <h4 class="mb-4 text-white">
        Tus dudas y comentarios <span class="text-primary">aquí</span>
      </h4>

      <!-- Subheading -->
      <!-- <p class="text-muted mb-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magnam, saepe est voluptas iste obcaecati cum odit alias minus ipsa fuga ratione tempora officia sint neque fugiat similique asperiores perferendis.
      </p> -->

      <!-- Form -->

      <%= form_with url: "/contacts", method: :post do %>


      <!-- <form> -->
        <div class="form-row">
          <div class="form-group col-md-6">

                      <!-- Name -->
            <label class="text-white">Nombre</label>
            <div class="input-group">
              <input type="text" class="form-control order-1" name="contact[nombre]" id="contact_nombre">
              <div class="input-group-append order-0">
                <div class="input-group-text">
                  <svg class="input-group-icon icon-offset icon icon-person" viewBox="0 0 106 106" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path transform="translate(3 3)" d="
                      M0 100 A 50 50 0 0 1 50 60 A 20 20 0 0 1 50 0 A 20 20 0 0 1 50 60 A 50 50 0 0 1 100 100">
                    </path>
                  </svg>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group col-md-6">

            <!-- Email -->
            <label class="text-white">e-mail</label>
            <div class="input-group">
              <input type="email" class="form-control order-1" name="contact[email]" id="contact_email">
              <div class="input-group-append order-0">
                <div class="input-group-text">
                  <svg class="input-group-icon icon-offset icon icon-envelope" viewBox="0 0 106 106" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path transform="translate(3 3)" d="
                      M0 30 V 10 H 100 V 90 H 0 V 30 L 50 60 L 100 30">
                    </path>
                  </svg>
                </div>
              </div>
            </div>

          </div>
        </div> <!-- / .form-row -->
        <div class="form-row">
          <div class="form-group col-12">

            <!-- Message -->
            <label class="text-white">Tus comentarios</label>
            <textarea class="form-control" name="contact[comentario]" rows="2" id="contact_comentario"></textarea>

          </div>
        </div> <!-- / .form-row -->

        <div class="form-row">
          <div class="col-12">

            <!-- Submit -->

            <div class="actions">
              <!-- <input name="commit" type="submit" value="Enviar mensaje" data-disable-with="Enviar mensaje" /> -->
              <button name="commit" type="submit" class="btn btn-sm btn-outline-primary text-white"
              id="contactoBoton">
                Enviar mensaje
              </button>
            </div>

            <div style="position: fixed; bottom: 140px; right: 5px;">
            <a tabindex="0" class="contactoEnviado" data-toggle="popover" data-trigger="focus" title="Gracias!" data-content="Hemos recibido tu mensaje"></a>
            </div>



        <button type="reset" class="btn btn-link">
              Reset form
            </button>

          </div>
        </div>

      <!-- </form> -->
    <% end %>

    </div>

    </div> <!-- / .row -->

   -->
  </div> <!-- / .container -->



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Términos y condiciones</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Este sitio contiene información médica pero no reemplaza la atención con un profesional de la salud.
        </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

</footer>
