
<nav class="navbar navbar-expand-xl navbar-light fixed-top">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="<%= url_for(action: 'index', controller: 'mente')%>" >
      <img src="<%= asset_pack_path 'media/images/OR_Logotipo MenteVital-HC.svg' %>" height="50" alt="">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Social -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item-divider">
          <span class="nav-link">
            <span></span>
          </span>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fab fa-github"></i>
            <span class="d-xl-none ml-2">
              Github
            </span>
          </a>
        </li> -->
        <li class="nav-item">
          <a  class="nav-link">
            <i class="fab fa-facebook"></i>
            <span class="d-xl-none ml-2">
              Facebook
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fab fa-instagram"></i>
            <span class="d-xl-none ml-2">
              Instagram
            </span>
          </a>
        </li>
      </ul>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a href="<%= url_for(action: 'index', controller: 'mente')%>" class="nav-link">
            <!-- <span class="icon -icon-home"></span> -->
            Inicio
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link " href=" <%= url_for(action: 'muestra', controller: 'blogs', target: 'self') %>" id="navbarLandings" role="button" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>

        </li>
        <li class="nav-item ">
          <a class="nav-link " href=" <%= url_for(action: 'muestra', controller: 'recomendaciones', target: 'self') %>" id="navbarPages" role="button" aria-haspopup="true" aria-expanded="false">
          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            Recomendaciones
          </a>

        </li>

        <li class="nav-item dropdown">
          <a tabindex="0" class="nav-link " id="navbarComponents" role="button" data-toggle="popover" data-trigger="focus" title="Proximamente..."
         aria-haspopup="true" aria-expanded="false" data-placement="bottom" >
            Noticias
          </a>
        </li>

        <li class="nav-item">
          <!-- <a class="nav-link " href="#" id="navbarPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
          <a class="nav-link" href="<%= url_for(action: 'muestra', controller: 'links')%>"  aria-haspopup="true" aria-expanded="false">
            Links
          </a>
        </li>

        <li class="nav-item">
          <a href=" <%= url_for(action: 'show', controller: 'acercas', id: '1')%> " class="nav-link">
            Acerca de
          </a>
        </li>


        <li class="nav-item-divider">
          <span class="nav-link">
            <span></span>
          </span>
        </li>
        <li class="nav-item">
          <a href="<%= url_for(action: 'index', controller: 'reservadehora')%>" class="nav-link">
            Reserva tu hora
          </a>
        </li>
      </ul>

    </div> <!-- / .navbar-collapse -->

  </div> <!-- / .container -->
</nav>
