<p id="notice"><%= notice %></p>

<h1>Contacts</h1>
<h3><%= link_to 'Abouts', abouts_url %> <span> .. </span> <%= link_to 'Blogs', blogs_url %> <span> .. </span> <%= link_to 'Acerca', acercas_url %> <span> .. </span>
   <%= link_to 'Autores', autores_url %> <span> .. </span> <%= link_to 'Links', links_url %> <span> .. </span> <%= link_to 'Recomendaciones', recomendaciones_url %> <span> .. </span>
   <%= link_to 'Contacts', contacts_url %>
</h3>

<br>
<h3><%= link_to "Cerrar sesion Administrador", destroy_user_session_path, method: :delete %></h3>


<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.nombre %></td>
        <td><%= contact.email %></td>
        <td><%= contact.comentario %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
