<p id="notice"><%= notice %></p>

<h1>Links</h1>
<h3><%= link_to 'Abouts', abouts_url %> <span> .. </span> <%= link_to 'Blogs', blogs_url %> <span> .. </span> <%= link_to 'Acerca', acercas_url %> <span> .. </span>
   <%= link_to 'Autores', autores_url %> <span> .. </span> <%= link_to 'Links', links_url %> <span> .. </span> <%= link_to 'Recomendaciones', recomendaciones_url %> <span> .. </span>
   <%= link_to 'Contactos', contacts_url %>
</h3>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Orden</th>
      <th>Nombre</th>
      <th>Descripcion</th>
    </tr>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.orden %></td>
        <td><%= link.nombre %></td>
        <td><%= link.descripcion %></td>
        <td><%= link_to 'Mostrar', link %></td>
        <td><%= link_to 'Editar', edit_link_path(link) %></td>
        <td><%= link_to 'Eliminar', link, method: :delete, data: { confirm: 'Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Link', new_link_path %>
