<%= form_with(model: about, local: true) do |form| %>
  <% if about.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(about.errors.count, "error") %> impidio que se grabara este about:</h2>

      <ul>
        <% about.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :carrusel %><br>
    <%= form.text_field :carrusel %>
  </p>

  <p>
    <%= form.label :img %><br>
    <%= form.text_field :img %>
  </p>

  <p>
    <%= form.label :titulo %><br>
    <%= form.text_field :titulo %>
  </p>

  <p>
    <%= form.label :tema %><br>
    <%= form.text_field :tema %>
  </p>

  <p>
    <%= form.label :subtitulo %><br>
    <%= form.text_field :subtitulo %>
  </p>

  <p>
    <%= form.label :subtitSubrr %><br>
    <%= form.text_field :subtitSubrr %>
  </p>

  <p>
    <%= form.label :subtitCont %><br>
    <%= form.text_field :subtitCont %>
  </p>

  <p>
    <%= form.label :comentarios %><br>
    <%= form.text_field :comentarios %>
  </p>

  <p>
    <%= form.label :texto %><br>
    <%= form.text_field :texto %>
  </p>

  <p>
    <%= form.label :texto2 %><br>
    <%= form.text_field :texto2 %>
  </p>

  <p>
    <%= form.label :texto3 %><br>
    <%= form.text_field :texto3 %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
