<div class="card-body">

<div class="form-group">

<%= form_with(model: about, local: true) do |form| %>
  <% if about.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(about.errors.count, "error") %> impidio que se grabara este about:</h2>

      <ul>
        <% about.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :orden %><br>
    <%= form.text_field :orden ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :carrusel %><br>
    <%= form.text_area :carrusel ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :subcarrusel %><br>
    <%= form.text_area :subcarrusel ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :img %><br>
    <%= form.text_field :img ,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :titulo %><br>
    <%= form.text_field :titulo ,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :tema %><br>
    <%= form.text_field :tema ,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :subtitulo %><br>
    <%= form.text_field :subtitulo ,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :subtitSubrr %><br>
    <%= form.text_field :subtitSubrr ,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :subtitCont %><br>
    <%= form.text_field :subtitCont ,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :comentarios %><br>
    <%= form.text_area :comentarios ,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :texto %><br>
    <%= form.text_area :texto ,class: "form-control", rows: "5"  %>
  </div>

  <div class="form-group">
    <%= form.label :texto2 %><br>
    <%= form.text_area :texto2 ,class: "form-control", rows: "5"  %>
  </div>

  <div class="form-group">
    <%= form.label :texto3 %><br>
    <%= form.text_area :texto3 ,class: "form-control", rows: "5" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
</div>
</div>
