
<p id="notice"><%= notice %></p>

<h1>Abouts</h1>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <th>Tema</th>
        <th>Titulo</th>
        <th>Image (nombre archibo)</th>
      </tr>
      <% @abouts.each do |about| %>
      <tr>
        <td><%= about.tema %></td>
        <td><%= about.titulo %></td>
        <td><%= about.img %></td>
        <td><%= link_to 'Mostrar', about %></td>
        <td><%= link_to 'Editar', edit_about_path(about) %></td>
        <td><%= link_to 'Eliminar', about, method: :delete, data: { confirm: 'Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo About', new_about_path %>
