
<p id="notice"><%= notice %></p>

<h1>Abouts</h1>
<h3><%= link_to 'Abouts', abouts_url %> <span> .. </span> <%= link_to 'Blogs', blogs_url %> <span> .. </span> <%= link_to 'Acerca', acercas_url %> <span> .. </span>
   <%= link_to 'Autores', autores_url %> <span> .. </span> <%= link_to 'Links', links_url %> <span> .. </span> <%= link_to 'Recomendaciones', recomendaciones_url %></h3>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <th>Orden</th>
        <th>Tema</th>
        <th>Titulo</th>
        <th>Image (nombre archibo)</th>
      </tr>
      <% @abouts.each do |about| %>
      <tr>
        <td><%= about.orden %></td>
        <td><%= about.tema %></td>
        <td><%= about.titulo %></td>
        <td><%= about.img %></td>
        <td><%= link_to 'Mostrar', about %></td>
        <td><%= link_to 'Editar', edit_about_path(about) %></td>
        <td><%= link_to 'Eliminar', about, method: :delete, data: { confirm: 'Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo About', new_about_path %>
