<!doctype html>
<html lang="en">
  <head>
    <title>MenteVital | Blogs </title>
  </head>
  <body>

<div class="container mb-3">
    <%= render 'globalPartials/navlight'%>
</div>


<!-- ITEM
================================================== -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 order-md-2">

        <!-- Preheading -->
        <p class="font-weight-medium text-xs text-uppercase text-primary">
          Autora del sitio
        </p>

        <!-- Heading -->
        <h3 class="mb-4">
          Doctora Perla Letelier Yañez
        </h3>

        <!-- Text -->
        <p class="mb-5 text-muted">
          Este sitio ha sido diseñado para informar a personas como tu acerca de los beneficios del estilo de vida saludable.
          Los médicos hemos descuidado un poco este aspecto escencial de la salud, y este es un esfuerzo por retomar el rumbo.
        </p>

      </div>
      <div class="col-12 col-md-8 order-md-1">

        <!-- Image -->
        <img src="<%= asset_pack_path 'media/images/perlin.png' %>" alt="..." class="img-fluid mb-5 w-75" >

        <!-- Nav -->
        <nav class="nav nav-tabs mb-5">
          <a href="#itemDescription" class="nav-item nav-link active" data-toggle="tab">
            Currículum
          </a>
          <a href="#itemShipping" class="nav-item nav-link" data-toggle="tab">
            Experiencia
          </a>
          <a href="#itemReviews" class="nav-item nav-link" data-toggle="tab">
            Seguidores (fans)
          </a>
        </nav>

        <!-- Content -->
        <div class="tab-content mb-5">
          <div class="tab-pane fade show active" id="itemDescription">

            <p class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi architecto facere, in dolores modi nisi. Quos quibusdam neque, necessitatibus, sint modi maxime atque ex, et provident sequi natus cumque! Id!
            </p>

            <p class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione minus nisi nihil officiis recusandae. Odio maxime illo repellat, alias earum veniam temporibus, officiis ullam a, recusandae quos necessitatibus mollitia consequatur.
            </p>

            <p class="mb-0 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nobis, ratione veniam cum culpa! Reiciendis dolorem, provident minima expedita, quaerat accusantium culpa dolor quo. Nobis eius, libero iusto ea sapiente.
            </p>

          </div>
          <div class="tab-pane fade" id="itemShipping">

            <p class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta iure vero labore sed recusandae perferendis iste quam suscipit asperiores quo ab, beatae perspiciatis aut numquam mollitia rem nobis aliquam voluptas.
            </p>

            <p class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. In repudiandae labore amet fuga architecto qui, eos nulla quam sed soluta error exercitationem non accusamus aliquam illum minima asperiores dolores cupiditate!
            </p>

            <p class="mb-0 text-sm">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio facere adipisci beatae nobis amet aperiam eius eaque culpa modi, quia, maiores obcaecati voluptate! Ipsam architecto asperiores, enim debitis pariatur?
            </p>

          </div>
          <div class="tab-pane fade" id="itemReviews">

            <!-- Comment -->
            <div class="row no-gutters mb-4">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar mr-3">
                  <img src="<%= asset_pack_path 'media/images/mandin.png' %>" alt="..." class="img-cover">
                </div>

              </div>
              <div class="col">

                <!-- Meta -->
                <p class="mb-1 text-muted text-xs">
                  by <strong class="text-body">Mandin</strong> 15 minutes ago
                </p>

                <!-- Rating -->
                <p class="mb-2 text-xs text-primary">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </p>

                <!-- Text -->
                <p class="mb-0 text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi? Hic dignissimos laboriosam est molestiae dolore voluptatum iusto.
                </p>

              </div>
            </div>

            <!-- Comment -->
            <div class="row no-gutters mb-4">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar mr-3">
                  <img src="<%= asset_pack_path 'media/images/nico.png' %>" alt="..." class="img-cover">
                </div>

              </div>
              <div class="col">

                <!-- Meta -->
                <p class="mb-1 text-muted text-xs">
                  by <strong class="text-body">Nico</strong> 17 minutes ago
                </p>

                <!-- Rating -->
                <p class="mb-2 text-xs text-primary">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </p>

                <!-- Text -->
                <p class="mb-0 text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi? Hic dignissimos laboriosam est molestiae dolore voluptatum iusto.
                </p>

              </div>
            </div>

            <!-- Comment -->
            <div class="row no-gutters mb-0">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar mr-3">
                  <img src="<%= asset_pack_path 'media/images/nindin.png' %>" alt="..." class="img-cover">
                </div>

              </div>
              <div class="col">

                <!-- Meta -->
                <p class="mb-1 text-muted text-xs">
                  by <strong class="text-body">NinDin</strong> 2 days ago ago
                </p>

                <!-- Rating -->
                <p class="mb-2 text-xs text-primary">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
                </p>

                <!-- Text -->
                <p class="mb-0 text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi? Hic dignissimos laboriosam est molestiae dolore voluptatum iusto.
                </p>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
