<p id="notice"><%= notice %></p>

<h1>Autores</h1>

<h3><%= link_to 'Abouts', abouts_url %> <span> .. </span> <%= link_to 'Blogs', blogs_url %> <span> .. </span> <%= link_to 'Acerca', acercas_url %> <span> .. </span>
   <%= link_to 'Autores', autores_url %> <span> .. </span> <%= link_to 'Links', links_url %> <span> .. </span> <%= link_to 'Recomendaciones', recomendaciones_url %>
 <span> .. </span> <%= link_to 'Contacts', contacts_url %></h3>
<br>
<h3><%= link_to "Cerrar sesion Administrador", destroy_user_session_path, method: :delete %></h3>


<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Nombre</th>
      <th>Descripcion Corta</th>
    </tr>
    <% @autores.each do |autore| %>
      <tr>
        <td><%= autore.nombre %></td>
        <td><%= autore.descripcionCorta %></td>
        <td><%= link_to 'Editar', edit_autore_path(autore) %></td>
        <td><%= link_to 'Eliminar', autore, method: :delete, data: { confirm: 'Segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Autor', new_autore_path %>
