<!DOCTYPE html>
<html>
  <head>
    <title>Mente Vital</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_pack_path 'media/images/ico/apple-touch-icon.png' %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_pack_path 'media/images/ico/favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_pack_path 'media/images/ico/favicon-16x16.png' %>">
    <!-- <link rel="manifest" href="images/ico/site.webmanifest"> -->
    <link rel="mask-icon" color="#5bbad5" href="<%= asset_pack_path 'media/images/ico/safari-pinned-tab.svg' %>">
    <link rel="shortcut icon" href= "<%= asset_pack_path 'media/images/ico/favicon.ico' %>">
    <meta name="msapplication-TileColor" content="#da532c">

    <meta name="theme-color" content="#ffffff">

    <title>Mente Vital | Bienvenida</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="turbolinks-cache-control" content="no-cache">

  </head>

  <body>



    <%= yield %>


<%= render 'globalPartials/footer' %>


  </body>
</html>
