<!DOCTYPE html>
<html>
  <head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-UA-233420311-1"></script>
      <%= javascript_include_tag 'analytics', async: true %>

    <title>MenteVital</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" sizes="180x180" href="<%= asset_pack_path 'media/images/favicon.svg' %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_pack_path 'media/images/favicon.svg' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_pack_path 'media/images/favicon.svg' %>">

    <meta name="msapplication-TileColor" content="#da532c">

    <meta name="theme-color" content="#ffffff">

    <title>Mente Vital | Bienvenida</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



    <meta name="turbolinks-cache-control" content="no-cache">

  </head>

  <body>



    <%= yield %>

<!-- <h1 id='qoo'>h</h1> -->
  <!-- <a tabindex="0" class="btn btn-lg btn-danger automatico" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a> -->

<%= render 'globalPartials/footer' %>


  </body>
</html>
